
{% extends 'base.html' %}

{% block titulo_head %} 
<title>Usuario Universitario</title>
{% endblock titulo_head %}

{% block header_mensaje  %}
Alumnos 
{% endblock header_mensaje %}

{% block contenido %}
{% if alumno %}
<h2>Se creo el alumno con nombre {{alumno.nombre}} y cursa la materia {{alumno.curso}} </h2>
{% endif %}
<form action="" method="post">
  {% csrf_token %} 
    {% comment %} <p>
    v1 Nombre:
     <input type="text" name="nombre">
    </p>
    <p>
     Materia:   
     <input type="text" name="materia">  
    </p> {% endcomment %}
   
    {% comment %} v2 {% endcomment %}
    {{formulario}}

    <button>Crear</button>
</form>
{% endblock contenido %}
