
{% extends 'base.html' %}

{% block titulo_head %} 
<title>Inicio</title>
{% endblock titulo_head %}

{% block header_mensaje %}
Inicio
{% endblock header_mensaje %}


<!--Hacemos que herecia de del base - Si o si tiene que estar en e lorden de anidado si estan anidado los bloques -->
<!-- Si cambio lo que esta anidado dentro de  un bloque SI SE PUEDE -->
<!-- 
   Masthead SI O SI TIENE QUE ESTAR CREADO EN EL PADRE VACIO O CON ALGO TOTAL LO PISA
   El title usa el primero que ve.
   El link CSS usa siempre el del padre a menos que en el block se incluya y ahi si replaza 
   por lo del hijo.
-->



    