<!DOCTYPE html>
{% extends 'base.html' %}

{% block titulo_head %} 
<title>Prueba</title>
{% endblock titulo_head %}

{% block header_mensaje %}
<h1>Mi primer template</h1>
{% endblock header_mensaje %}

{% block contenido %}
<p> {{mensaje}}</p>
    {% if segundos %}
    <p style="color: red;">{{segundos}}</p>
    {% else %}
    <p style="color: green;">{{segundos}}</p>
    {% endif %}

    {% for numero  in  listado_de_numeros%}
    <p style="color: blue;"> {{numero}}</p>
    {% endfor %}
{% endblock contenido %}
